---
Language:        Cpp
BasedOnStyle:  WebKit
AlignAfterOpenBracket: true
AlignEscapedNewlinesLeft: true
AlignOperands:   true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
ConstructorInitializerIndentWidth: 0
IndentCaseLabels: true
BreakBeforeBraces: Attach
...
